[Unit]
Description=Bigsens Zigbee service
Wants=bs-core.service
After=bs-core.service

[Service]
ExecStart=/usr/local/bin/node /root/zigbee-service/index.js
Restart=always
RestartSec=10                 # Restart service after 10 seconds if node service crashes
#StandardOutput=syslog        # Output to syslog (redirect output in the app)
#StandardError=syslog         # Output to syslog
SyslogIdentifier=bs-zigbee
Environment=NODE_ENV=production PORT=13777

[Install]
WantedBy=bs-core.service
